<h2>Edit legal service</h2>

<%= render "form.html", changeset: @changeset,
                        action: legal_service_path(@conn, :update, @legal_service) %>

<%= link "Back", to: legal_service_path(@conn, :index) %>
