<h2>New legal service</h2>

<%= render "form.html", changeset: @changeset,
                        action: legal_service_path(@conn, :create) %>

<%= link "Back", to: legal_service_path(@conn, :index) %>
