<h2>New medical amenity</h2>

<%= render "form.html", changeset: @changeset,
                        action: medical_amenity_path(@conn, :create) %>

<%= link "Back", to: medical_amenity_path(@conn, :index) %>
