<h2>New substance abuse treatment</h2>

<%= render "form.html", changeset: @changeset,
                        action: substance_abuse_treatment_path(@conn, :create) %>

<%= link "Back", to: substance_abuse_treatment_path(@conn, :index) %>
